### https://raw.github.com/github/gitignore/18aa6d83774d514da479d73a4beb864cd4220231/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

.asciidoctor/
/.bundle/
/.tmp/
/output/*
!/output/.gitkeep
/images/diagram/*
!/images/diagram/.gitkeep

